/**
* Initialize
**/

.popupmenu {
    min-width: 132px;
    text-align: left;
    padding: 0px;
    width: 150px;
    white-space: nowrap;
    background-color: white !important;

    &__item {
        list-style-type: none;
        height: 35px;
    }

    // Link Appearance
    &__link,
    &__contents {
        display: block;
        box-sizing: border-box;
        text-decoration: none;
        height: 100%;
        font-size: 9pt;
        width: 100%;
        padding: 0 5px;
        color: $popupMenuColor;

        &:hover {
            background-color: $popupMenuHoverBackground;
            color: $popupMenuHoverColor;
        }

        &.disabled {
            pointer-events: none;
        }
    }

    &__text {
        display: inline-block;
        vertical-align: middle;
    }

    &__contents {
        display: flex;

        /**
         * Positioning styles on the slider and its container are used to make
         * the container fit the popup width, by removing the slider from the
         * page flow, and then making the slider fit the container.
         */
        .popupmenu__slider_container {
            position: relative;
            width: 100%;

            .popupmenu__slider {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                width: 100%;

                &::-webkit-slider-runnable-track {
                    background-color: $popupSliderColor;
                }

                &::-moz-range-track {
                    background-color: $popupSliderColor;
                }

                &::-ms-fill-lower {
                    background-color: $popupSliderColor;
                }
            }
        }
    }

    &__icon {
        vertical-align: middle;
        position: relative;
        display: inline-block;
        min-width: 20px;
        height: 100%;

        > * {
            @include absoluteAligning();
        }
    }

    .icon-kick {
        font-size: 8pt;
    }
}

.icon-flashlight {
    width: 18px;
    height: 18px;
    margin: 10px 5px 0px 5px !important;
}

.popupmenu__text {
    color: #514c47 !important;
}

.popupmenu__icon {
    color: #514c47 !important;
    margin-left: 3px;
    margin-right: 3px;
}

.p-b-sm {
    padding-bottom: 10px !important;
}

.popupmenu__link {
    padding-right: 15px !important;
    cursor: pointer;
}

.popupmenu__link.disabled {
    .popupmenu__text {
        color: #808184 !important;
    }
    cursor: default !important;
}

/**
 * Override reset css styling modifying all lists and set negative margin to
 * reduce the visibility of padding on AtlasKit
 * InlineDialogs.
 */
ul.popupmenu {
    border-radius: 2px;
    position: absolute !important;
    top: -25;
    right: 2px;
    cursor: default !important;
}

ul.popupmenu.one-item-menu {
    top: 10px !important;
}

span.remotevideomenu:hover ul.popupmenu, ul.popupmenu:hover {
    display:block !important;
    cursor: default !important;
}

.remote-control-spinner {
    top: 6px;
    left: 2px;
}