.filmstrip__toolbar {
    @include flex();
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    position: relative;
    width: 100px;
    height: 100px;

    button {
        font-size: 14px;
        line-height: 1.2;
        text-align: center;
        background: transparent;
        height: 40px;
        width: 40px;
        margin: 5px;
        border: none;
        outline: none;
        transform: rotate(-90deg);
        position: absolute;
        bottom: 30px;
        right:0px;
        -webkit-appearance: none;

        i {
            cursor: pointer;
            font-size: 40px;
        }
    }

    .toggle-filmstrip-button:hover .tooltip-toggle {
        display: block !important;
    }
}

.tooltip-toggle {
    position: absolute;
    right: 0px;
    bottom: 80px;
    border-radius: 2px;
    background-color: rgba(114, 114, 114, 0.4);
    width: 85px;
    color: white;
    padding: 5px;
    display: none;
    font-size: 10px !important;
    text-align: center;
}
